.nav{
    display:flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    justify-content: space-between;
    padding: 0 1em;
    align-items: center;
    background-color: #dddddd;
    font-size: 1.4rem;
    z-index: 10000;

@media(min-width: 576px){
    font-size: 1.4rem;
}

    @media(min-width: 992px){
        justify-content: space-around;
        align-items: center;
    }

    &__logo{
        display: flex;
        flex-direction: column;
        padding: 1em;
        cursor: pointer;
        z-index: 1;
        


        h1{
            color: #0082fa;

        }
    }
    &__btn-box{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}


.test{
    display: flex;
    align-items: center;
    justify-content: center;
}