.btn{

cursor: pointer;
			margin: 1em;
			padding: .5em;
			width: 100px;
			font-size: 1rem;
			text-transform: uppercase;
			font-weight: bold;
			border-radius: 8px;
			border: 1px solid #dddddd;
			box-shadow: 3px 3px 3px #dddddd;
			transition: all 0.5s;

			@media(min-width:576px){
				padding: 1em 2em;
				font-size: 1.4rem;
				width: auto;
			}
			&:hover {
				background-color: #0082fa;
				color: white;
			}
        }